# TOP 500 supercomputer mining - Challenge 1

# 1-A

In this challenge you will mine top500 website to retrieve information on the most powerfull supercomputer of the last years.

Your task is to scrape information for the top 500 supercomputers from 2014 to 2018. The information should include:

* **Rank**

* **Name**

* **Year**

* **Description**

* **Company**

* **Country**

* **Cores**

* **RMax (TFlops/s)**

* **RPeak (TFlops/s)**

* **Power (kW)**


The root url is the following:
https://www.top500.org/


You need to navigate the web in order to extract all information for 2500 supercomputers. As an example, the first urls are:

https://www.top500.org/lists/2014/11/?page=1


https://www.top500.org/list/2014/11/?page=2



Write code that do the following:
1. Look for the url to scrape.
2. Make request.
3. Return HTML string.
4. Parse and extract all features. Create a dictionary with these fields.
5. Return a list of dictionaries.

In [1]:
# Your code here

In [2]:
# import libraries
import requests as req
from bs4 import BeautifulSoup
import re
import mysql.connector

In [3]:
# urls

URL='https://www.top500.org/'


top_lst=['list/2014/11/?page=1', 
         'list/2014/11/?page=2',
         'list/2014/11/?page=3',
         'list/2014/11/?page=4',
         'list/2014/11/?page=5',
         'list/2015/11/?page=1', 
         'list/2015/11/?page=2',
         'list/2015/11/?page=3',
         'list/2015/11/?page=4',
         'list/2015/11/?page=5',
         'list/2016/11/?page=1', 
         'list/2016/11/?page=2',
         'list/2016/11/?page=3',
         'list/2016/11/?page=4',
         'list/2016/11/?page=5',
         'list/2017/11/?page=1', 
         'list/2017/11/?page=2',
         'list/2017/11/?page=3',
         'list/2017/11/?page=4',
         'list/2017/11/?page=5',
         'list/2018/11/?page=1', 
         'list/2018/11/?page=2',
         'list/2018/11/?page=3',
         'list/2018/11/?page=4',
         'list/2018/11/?page=5']

In [4]:
# scraping

def scraping(label, url):
    
    res = req.get(url)
    soup = BeautifulSoup(res.text, 'html.parser')
    scrap = soup.find_all(label)
    
    return scrap

In [5]:
# all info tables

def all_tables(url_lst):
    
    lst=[]
    
    for i in range(len(url_lst)):
        table=scraping('td', URL+url_lst[i])
        for j in range(len(table)):
            data=table[j]
            lst.append(data)
        
    return lst

In [6]:
info=all_tables(top_lst)

In [7]:
# ranking

def ranking(lst):
    
    rank=[]
    
    for e in lst:
        s=str(e).split('span')
        if len(s)==3:
            rank.append(int(re.findall('[0-9]+',str(str(e).split('span')[1]))[0]))
    
    return rank

In [8]:
# name 

def name(lst):
    
    n=[]
    
    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            prov=(str(lst[i+2]).split('<a href')[1].split(',')[0].split('>')[1:])
            if len(prov[0])==3:
                n.append(prov[1].split('<')[0])
            else:
                n.append(prov[0])
    
    return n

In [9]:
# year

def year():
    
    y=[]

    for i in range(2500):
        if i<500: y.append(2014)
        if i>=500 and i<1000: y.append(2015)
        if i>=1000 and i<1500: y.append(2016)
        if i>=1500 and i<2000: y.append(2017)
        if i>=2000 and i<2500: y.append(2018)
            
    return y

In [10]:
# description

def description(lst):
    
    d=[]

    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            place=str(lst[i+1]).split('>')[-4].split('<')[0]
            model=str(lst[i+2]).split(',')[0].split('>')[-1].split(' ')[-1]
            rest=str(lst[i+2]).split(',')[1:]
            
            if len(rest)==0:
                d.append(place+' '+model)
            elif len(rest)>1:
                d.append(place+' '+model+' '+rest[0]+' '+rest[1].split('\n')[0])
            else:
                d.append(place+' '+model+' '+rest[0])
    
    return d

In [11]:
# company

def company(lst):
    
    c=[]
    
    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            c.append(str(lst[i+2]).split(',')[-1].split('</br')[-2].split('>')[-1])
            
    return c

In [12]:
# country

def country(lst):
    
    co=[]
    
    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            co.append(str(lst[i+1]).split('>')[-2].split('<')[0])
    
    return co

In [13]:
# cores

def cores(lst):
    
    cor=[]
    
    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            prov=re.sub(',', '', str(lst[i+3]))
            cor.append(int(re.findall('[0-9.]+',prov)[0]))
    
    return cor

In [14]:
# RMax (TFlops/s)

def r_max(lst):
    
    r=[]
    
    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            prov=re.sub(',', '', str(lst[i+4]))
            r.append(float(re.findall('[0-9.]+',prov)[0]))
    
    return r

In [15]:
# RPeak (TFlops/s)

def r_peak(lst):
    
    r=[]
    
    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            prov=re.sub(',', '', str(lst[i+5]))
            r.append(float(re.findall('[0-9.]+',prov)[0]))
    
    return r

In [16]:
# power (kW)

def power(lst):
    
    p=[]
    
    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            prov=re.sub(',', '', str(lst[i+6]))
            number=re.findall('[0-9.]+',prov)
            if number==[]:
                p.append(0)
            else:
                p.append(int(number[0]))
            
    return p

In [17]:
# top supercomputers

def top_500():
    
    ran = ranking(info)
    n = name(info)
    y = year()
    desc = description(info)
    com = company(info)
    coun = country(info)
    cor = cores(info)
    rmax = r_max(info)
    rpeak = r_peak(info)
    po = power(info)
    
    
    result=[{'ranking':ran[i], 'name':n[i], 'year':y[i], 
             'description':desc[i], 'company':com[i], 'country':coun[i],
             'cores':cor[i], 'rmax':rmax[i],
             'rpeak':rpeak[i], 'power':po[i]} for i in range(len(ran))]
    
    return result

In [18]:
# checking

top_500()[-1]

{'ranking': 500,
 'name': 'Inspur SA5212M4',
 'year': 2018,
 'description': 'Internet Service A SA5212M4  Xeon E5-2682v4 16C 2.5GHz  10G Ethernet',
 'company': 'Inspur',
 'country': 'China',
 'cores': 45440,
 'rmax': 874.8,
 'rpeak': 1817.6,
 'power': 0}


# 1-B


When you complete this task, you need to save the information in a SQL database. For that:
1. Install MySQL and MySQL connector for Python.
2. Start MySQL server on your computer. 
3. Create a new empty database. 
4. Create a table for store the data. As an example, the table could be:
 ```sql
   CREATE TABLE top_500(
           ranking int,
           name text, 
           year int,
           description text,
           company text,
           country text, 
           cores int, 
           rmax float,
           rpeak float,
           power int);
```

In [19]:
# Your code here

In [20]:
# results

results=top_500()

In [21]:
# checking

results[0]

{'ranking': 1,
 'name': 'Tianhe-2A',
 'year': 2014,
 'description': 'National Super Computer Center in Guangzhou Cluster  Intel Xeon E5-2692 12C 2.200GHz  TH Express-2',
 'company': 'NUDT',
 'country': 'China',
 'cores': 3120000,
 'rmax': 33862.7,
 'rpeak': 54902.4,
 'power': 17808}

In [22]:
# create sql database

create_db = mysql.connector.connect(host='localhost', user='admin', passwd='password')

cursor = create_db.cursor()

cursor.execute('drop database if exists SuperComputers')
cursor.execute('create database SuperComputers')

In [23]:
# checking

cursor.execute('show databases')
for x in cursor:
  print(x)

('information_schema',)
('Apps',)
('Q3',)
('SuperComputers',)
('lab-mysql',)
('mydb',)
('mysql',)
('performance_schema',)
('publis',)
('sys',)

In [24]:
# connect to database

db = mysql.connector.connect(host='localhost', user='admin', passwd='password', database='SuperComputers')

cursor = db.cursor()

In [25]:
# create table


cursor.execute('use SuperComputers;')

cursor.execute("drop table if exists top_500;") 

table = '''create table top_500(
           ranking int,
           name text, 
           year int,
           description text,
           company text,
           country text, 
           cores int, 
           rmax float,
           rpeak float,
           power int);'''

cursor.execute(table)

In [26]:
# checking

cursor.execute('show tables')
for x in cursor:
  print(x)

('top_500',)

In [27]:
# insert query

for i in range(len(results)):
    insert_query = 'insert into {} ({}) values {};'\
                   .format('top_500', ','.join(results[i].keys()), tuple(results[i].values()))

    cursor.execute(insert_query)
    
db.commit()

In [28]:
# checking

cursor.execute('select * from top_500 limit 2')
for x in cursor:
  print(x)

(1, 'Tianhe-2A', 2014, 'National Super Computer Center in Guangzhou Cluster  Intel Xeon E5-2692 12C 2.200GHz  TH Express-2', 'NUDT', 'China', 3120000, 33862.7, 54902.4, 17808)
(2, 'Titan', 2014, 'DOE/SC/Oak Ridge National Laboratory XK7  Opteron 6274 16C 2.200GHz  Cray Gemini interconnect', 'Cray Inc.', 'United States', 560640, 17590.0, 27112.5, 8209)